<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if (flash) { %> 
        <div class="alert <%= flash.type %>">
            <%= flash.message %>
        </div>
        <% } %>
    <% products.forEach(product => { %>
    <ul>
        <h2><%= product.name %></h2>
        <li><%= product.description %></li>
        <li>DKK <%= product.price %></li>
    </ul>
    <a href="/produkter/slet/<%= product._id %>">Slet</a>
    <a href="/produkter/rediger/<%= product._id %>">Redigér</a>
    <hr>
    <% }); %>
</body>
</html>